body {
    font-family: Arial,sans-serif;
    margin: 0px;
    padding: 30px
}

table {
    border: 2px solid #008099;
    width: 50%
}

td {
    border: 1px solid #dddddd;
    padding: 7px;
    background-color: #008099;
    color: white;
    width: 30%;
}

.row-1-col-1 {
    background-color: blue;
    text-align: center;
    font-size: larger;
}
